#searchform{
    margin-top: 5px;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  #searchbtn{
    background-color: rgb(54, 54, 54);
    color: lightgray;
  }
  #test2{
    
  }
  .loginArea{
    margin-top: 15%;
    padding: 0 2px;
  }
  #loginLogo{
    margin-left: 6%;
  }
  #userId, #userPwd{
    margin-left: 15px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px rgb(17, 17, 17);
  }

  #userId{
    display: block;
    width: 80%;
    height: 20px;
    margin-bottom: 8px;
    line-height: 32px;
    padding: 0 2px;
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #c5cbd3;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
  }
  #userPwd{
    display: block;
    width: 80%;
    height: 20px;
    margin-bottom: 8px;
    line-height: 32px;
    padding: 0 2px;
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #c5cbd3;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
  }
  .dropdown-menu{
    width: 250px;
  }
  .logCheck{
    position: relative;
    margin-left: 6%;
    color: gray;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    cursor: default;
  }
  .lgBtn-major[disabled], .lgBtn-major:disabled{
    background: #dbdee3;
  }
  .lgBtn-major{
    background: #eb0026;
    color: #fff;
    will-change: background-color, color;
  }
  .lgBtn[disabled], .lgBtn:disabled{
    pointer-events: none;
    cursor: not-allowed;
  }
  /* .lgBtn{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    white-space: nowrap;
    text-decoration: none !important;
    text-align: center;
    vertical-align: middle;
    color: inherit;
    cursor: default;
    background: transparent;
    transition: .2s;
  } */
  .lgBtn-wide{
    width: 100%;
    margin-left: 0 !important;
  }
  .lgBtn-mid, .lgBtn-mid>i{
    padding: 0 20px;
    border-radius: 2px;
  }
  .lgBtn-mid{
    min-width: 88px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
  }
  .login_links{
    margin: 24px 0;
    line-height: 20px;
  }
  .login_links>a:nth-child(1) {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
  }
  .login__links>a:nth-child(2) {
      float: right;
      font-size: 12px;
      color: #767676;
  }
  a {
      color: inherit;
      text-decoration: none;
  }
  #id_pw_find{
    margin-left: 15%;
    font-size: 14px;
  }
  #member_join{
    margin-left: 4%;
  }
  .login_driver{
    position: relative;
    height: 18px;
    margin: 24px 0 12px;
  }
  .login_driver span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 42px;
    margin-left: -21px;
    margin-top: -6px;
    color: #767676;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    background: #FFF;
  }
  .login_driver::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    border-top: 1px solid #dbdee3;
  }
  .account_btn-naver{
    background-color: #23b300;
    background-image: url(//cdn.lezhin.com/files/assets/img/icon-naver.svg);
    background-size: 20px;
    background-position: 18px;
    text-align: center;
  }
  .account_btn{
    position: relative;
    display: block;
    width: 100%;
    height: 48px;
    line-height: 48px;
    margin: 8px auto;
    padding-left: 32px;
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-align: center;
    border-radius: 2px;
    background-repeat: no-repeat;
  }
  .account_btn-kakao{
    margin-top: 0;
    background-color: #e9ec08;
    /* background-image: url(//cdn.lezhin.com/files/assets/img/icon-facebook.svg); */
    background-size: 12px;
    background-position: 22px;
  }
  
  body {
    padding-top: 56px;
  }

  .carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .portfolio-item {
  margin-bottom: 30px;
  }

  a {
      text-decoration: none;
      color: inherit;
  }

  .mb-4{
      width: 700px;
  }


  /* <!--page --> */
  .paging { 
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  }

  .paging a {
      display: inline-block;
      vertical-align: middle;
  }

  .paging a.bt {
      width: 30px;
      height: 30px;
      background-color: lightgray;
      background-image: url('../img/page_bt.png');
      background-repeat: no-repeat;
      border-radius: 100px;
      text-indent: -1000px;
      overflow: hidden;
  }

  .paging a.bt:hover {
      background-color: lightgray;
  }

  .paging a.first {
      background-position: 10px -40px;
  }

  .paging a.prev {
      margin-right: 5px;
      background-position: 10px 10px;
  }

  .paging a.next {
      margin-left: 5px;
      background-position: -40px 10px;
  }

  .paging a.last {
      background-position: -40px -40px;
  }

  .paging a.num {
      margin: 0 5px;
  }

  .paging a.num.on {
      font-weight: 900;
      font-size: large;
  }

  .paging a.num:hover {
      text-decoration: underline;
  }
  .board_div2{
    text-align: center;
    margin: 5px;
  }
  table { 
    table-layout:fixed; 
  }
  .board_title_st{
    text-align: left;
  }
  .write_btn{
    text-align: center;
    background: lightseagreen;
    margin-left: 90%;
  }